# App Configuration
NODE_ENV=development
APP_URL=http://localhost:3000

# SQL Database (XAMPP / Production)
DB_HOST=localhost
DB_NAME=chattrix_db
DB_USER=root
DB_PASS=

# JWT Secrets
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here

# Email Service (Verification & Pass Reset)
EMAIL_SERVICE=gmail
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password_here

# reCAPTCHA
VITE_RECAPTCHA_SITE_KEY=your_site_key_here
RECAPTCHA_SECRET_KEY=your_secret_key_here
